<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1 - Wednesday 6/01</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>Preparation</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/shell-novice/setup.html">The Unix Shell: Installation and Data Download</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>Preparation</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/git-novice/setup.html">Version Control with Git: Setup</a></td>        <!-- content -->
      </tr>
      <tr>
        <td>9:00 AM</td>
        <td><a href="https://swcarpentry.github.io/shell-novice/">The Unix Shell</a> with Stacey</td>
      </tr>
      <tr>
        <td>11:30 AM</td>
        <td>Coffee Break - 15 minutes</td>
      </tr>
      <tr>
        <td>11:45 AM</td>
        <td><a href="https://swcarpentry.github.io/git-novice/">Version Control with Git</a> with Rayvn</td>
      </tr>
      <td>2:00 PM</td>
      <td>End of Day 1</td>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2 - Thursday 6/02</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Preparation</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/setup.html">Python: Installation and Data Download</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>9:00 AM</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/index.html">Python - Part I </a>with Marcel</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td> </td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/02-variables/index.html">Variables and Assignment</a></td>        <!-- content -->
      </tr>
      <tr>
        <td> </td>
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/03-types-conversion/index.html">Data Types</a></td>
      </tr>
      <tr>
        <td> </td>
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/04-built-in/index.html">Functions</a></td>
      </tr>
      <tr>
        <td>11:30 AM</td>
        <td>Coffee break - 15 minutes</td>
      </tr>
      <tr>
        <td>11:45 AM</td>
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/index.html">Python - Part I </a><i> continued</i> with Stacey</td>
      </tr>
      <tr>
        <td> </td>
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/06-libraries/index.html">Libraries</a></td> 
      </tr>
      <tr>
        <td> </td>
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/07-reading-tabular/index.html">Data Frames</a></td>
      </tr>
      <tr>
        <td> </td>
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/09-plotting/index.html">Plotting</a></td>
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3 - Friday 6/03</h3>
    <table class="table table-striped">
       <tr>               <!-- row 1   -->
        <td>Preparation</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/setup.html">Python: Installation and Data Download</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>9:00 AM</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/index.html">Python - Part II</a> with Marcel </td>        <!-- content -->
      </tr>
      <tr>
        <td> </td>
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/11-lists/index.html">Lists</a></td>
      </tr>
      <tr>
        <td> </td>
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/12-for-loops/index.html">For Loops</a></td>
      </tr>
      <tr>
        <td> </td>
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/13-conditionals/index.html">Conditionals</a></td>
      <tr>
        <td> </td>
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/14-looping-data-sets/index.html">Looping Over Data Sets</a></td>
      </tr>
      <tr>
        <td> </td>
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/index.html">Python - Part II </a><i>continued</i> with Stacey </td>
      </tr>
      <tr>
        <td> </td>
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/16-writing-functions/index.html">Writing Functions</a></td>
      </tr>
      <tr>
        <td> </td>
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/17-scope/index.html">Variable Scope</a></td>
      </tr>
      <tr>
        <td> </td>
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/18-style/index.html">Programming Style</a></td>
      </tr>
      <tr>               <!-- row 3   -->
        <td>End</td>        <!-- time    -->
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
